*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to left, rgba(17, 17, 15, 0.901),transparent),url(./pexels-artem-saranin-1547813.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container{
    margin: 15px 20px;
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 60px 15px;
    /* background-color:transparent; */
}
.about img{
    height: auto;
    width: 430px;
    border: 2px solid #4cdc44;
    border-radius: 15px;
}
.text{
    width: 550px;
}
#main{
    width: 1110px;
    max-width: 95%;
    margin: 0 auto;
    letter-spacing: 0.5px;
}
.text h5{
    color: rgba(239, 232, 232, 0.778);
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}
.text h6{
    color: rgba(244, 238, 238, 0.795);
    letter-spacing: 1px;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.text p{
    color: rgba(224, 219, 219, 0.756);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    font-family: cursive;
}
button{
    position: relative;
    display: block;
    border: 2px solid #4cdc44;
    padding: 14px 50px;
    background: transparent;

}
button a{
    font-family: serif;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.688);
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}
button::before{
    background: #4cdc44;
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
    transition: all 0.6s ease;
}
button:hover::before{
    width: 100%;
    border: none;

}
@media screen and (max-width: 990px){
    body{
        width: 100%;
    }  
    .about{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .text{
        width: 100%;
        margin: 25px 25px;
    } 
}
