*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(to bottom, rgba(146, 142, 142, 0.493),rgba(19, 12, 12, 0.9)),url(./Images/pexels-albin-berlin-919073.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 11px 50px;
}
.background{
    /* margin: 15px 25px; */
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top{
    width: 100px;
    height: 100px;
    /* margin: 10px 20px; */
}
#top img{
    width: 90px;
    height: 75px;
    border-radius: 50px;
    cursor: pointer;
}
nav{
    margin-left: 450px;
    width: 100%;
    flex-wrap: nowrap;
}
.nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px 0;
}
.nav ul{
    flex: 1;
    text-align: center;
    padding-right: 10px;
}
.nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}
.nav ul li a{
    color: rgba(240, 243, 246, 0.838);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
}
.nav ul li a:hover{
    color: rgb(255, 255, 255);
}
.nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(79, 231, 79, 0.94);
    transition: width 0.3s;
}
.nav ul li a:hover::after{
    width: 50%;

}
nav ul li:last-child span{
    width: 100px;
    height: 30px;
    padding: 6px 10px;
    background-color: transparent;
    border: 2px solid  rgba(79, 231, 79, 0.94);
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
}
nav ul li:last-child:hover span{
    box-shadow: 0 0px 30px 0 #4CDC4D inset, 0 0px 30px 0 #4CDC4D,0 0px 30px 0 #4CDC4D inset, 0 0px 30px 0 #4CDC4D;
    transform: scale(1.3);
    text-shadow: 0 0 2px #d0f4d0, 0 0 2px #cafbca;
}
.nav ul li:last-child a{
    position: relative;
    font-weight: 200;
    color:rgba(224, 241, 224, 0.94);
    font-size: 16px;
    text-align: center;
    font-family: sans-serif;   
}
.hamb span{
    /* display: block; */
    display: none;
    width: 50px;
    margin-right: 50px;
}
.hamb span div{
    width: 30px;
    height: 3px;
    background-color: rgba(79, 231, 79, 0.94);
    margin: 7px 0;
    border-radius: 2px;
    transition: 2s;
}
.hamb:hover #bar-1{
    transform: rotate(405deg);
}
.hamb:hover #bar-2{
    display: none;
}
.hamb:hover #bar-3{
    transform: rotate(-405deg);
}







/* main section */

#main{
    width: 100%;
    position: relative;
    bottom: 10%;
    margin-top: 79px;
}
#main p:first-child{
    font-family: cursive;
    font-size: 20px;
    margin-bottom: 15px;
    color: rgba(243, 237, 237, 0.558);
    margin-bottom: 9px;
}
#main h2{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: cursive;
    margin-bottom: 13px;
    color: rgba(243, 237, 237, 0.558);
}
#main h1{
    font-size: 90px;
    width: 100%;
    font-family: sans-serif;
    /* margin-left: -10px; */
    letter-spacing: 3px;
    line-height: 80px;
    color: transparent;
    margin-bottom: 9px;
    -webkit-text-stroke: 1px #4CDC4D;
    background: url(./Images/kesh\ 239.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
/* h1:before{
    margin-left: 4%;
    content: '';
    position: absolute;
    left: -2%;
    width: 900%;
    height: 10vh;
    background: linear-gradient(90deg, transparent 0%, #021b02 5%, #000 100%);
    animation: animate 10s linear forwards;
}

@keyframes animate{
    0%{
        left: -20%;
    }
    100%{
        left:  100%;
    }
} */
#main h6{
    font-size: 13px;
    font-family: cursive;
    font-weight: 200;
    margin-bottom: 9px;
    letter-spacing: 1px;
    color: rgba(243, 237, 237, 0.558);
}
button{
    cursor: pointer;
    border: #4CDC4D 2px solid;
    background: transparent;
    padding: 10px 23px;
    border-radius: 10px;
}
button a{
   text-decoration: none;
   color: #4CDC4D;
   font-size: 18px;
   font-family: sans-serif;
   font-weight: 200;
}
button:hover{
    background-color: #4CDC4D;
    border: transparent;
    transition: 0.4s;
}
button:hover a{
    color: white;
}
.icons a img{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    cursor: pointer;
    margin: 5px 9px;
    background-color: white;
}
.icons a img:hover{
    background-color: #4CDC4D;
    transform: scale(1.3);
}






#footer{
    margin-top: 15vh;
    padding-bottom: 40px;
}
#footer p{
    color: rgba(243, 237, 237, 0.558);
    letter-spacing: 2px;
    font-size: 15px;
}














.sub-nav{
    
    display: none;
}




@media screen and (max-width: 990px){
    body{
        width: 100%;
    }
    
    
    .hamb span{
        display: initial;
    }
    .logo{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 150%; 
    }
    
    nav{
        display: none;
    }
    .sub-nav{
        position: absolute;
        top: 90px;
        right: 0;
        bottom: 0px;
        width: 60%;
        height: 70%;
        border: 2px solid #4CDC4D;
        background: black;
        z-index: 2;
        padding: 6% 10%;
        transition: .3s right;
        border-radius: 10px;
        /* display: none; */
    }
    .sub-nav li{
        margin: 20px 40px;
        text-align: center;
        justify-content: center;
        position: relative;
        padding: 10px;
    }
    .sub-nav li a{
        color: rgba(240, 243, 246, 0.838);
        text-decoration: none;
        font-family: sans-serif;
        font-size: 14px;
        position: relative;
        padding: 15px;
    }
    .sub-nav li a:hover{
        background: #4CDC4D;
        border-radius: 3px;
    }
    .sub-nav ul li:last-child span{
        width: 100px;
        height: 30px;
        padding: 6px;
        background-color: transparent;
        border: 2px solid  rgba(79, 231, 79, 0.94);
        cursor: pointer;
        border-radius: 15px;
        transition: 1s;
    }
    .sub-nav ul li:last-child:hover span{
        box-shadow: 0 0px 30px 0 #4CDC4D inset, 0 0px 30px 0 #4CDC4D,0 0px 30px 0 #4CDC4D inset, 0 0px 30px 0 #4CDC4D;
        transform: scale(1.3);
        text-shadow: 0 0 2px #d0f4d0, 0 0 2px #cafbca;
    }
    .sub-nav ul li:last-child a{
        position: relative;
        font-weight: 200;
        color:rgba(79, 231, 79, 0.94);
        font-size: 16px;
        text-align: center;
        font-family: sans-serif;   
    }
    #menu:hover .sub-nav{
        display: block;
        transition: 1s;
    }
    #main{
        width: 100%;
    }
    #main h1{
        width: 100%;
        font-size: 70px;
    }

}
